<%= simple_form_for [:dashboard, @project] do |f| %>

    <%= render partial: 'dashboard/shared/langtabs' %>

    <div class="row">
      <div class="input-field col s8">
        <%= f.input :title, label: "Title (#{locale})" %>
      </div>

      <div class="col s4 category-selector">
        <%= f.association :category %>
      </div>

      <div class="input-field col s6">
        <%= f.input :client_name, label: "Client (#{locale})" %>
      </div>

      <div class="input-field col s3">
        <%= f.input :area, label: 'Area', as: :integer %>
      </div>

      <div class="input-field col s3">
        <%= f.input :year, label: 'Year', as: :integer, input_html: { maxlength: 4 } %>
      </div>

      <div class="input-field col s6">
        <%= f.input :address, label: "Address (#{locale})" %>
      </div>

      <div class="input-field col s6">
        <%= f.input :team, label: "Team (#{locale})" %>
      </div>

      <div class="input-field col s12">
        <%= f.input :description,
                    label: "Description (#{locale})",
                    as: :text,
                    required: false,
                    input_html: { class: 'materialize-textarea' }
        %>
      </div>

      <div class="input-field col s12">
        <p><%= f.input :is_global, as: :boolean, boolean_style: :inline %></p>
      </div>

      <div class="input-field col s12">
        <p><%= f.input :is_local, as: :boolean, boolean_style: :inline %></p>
      </div>

      <div class="input-field col s12">
        <p><%= f.input :is_public, as: :boolean, boolean_style: :inline %></p>
      </div>

    </div>

    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

    <%= link_to 'Cancel', dashboard_projects_path, class: 'btn waves-effect waves-light' %>

    <h5>Select Images</h5>
    <%= render partial: 'dashboard/shared/imageselect' %>
    <div class="row">

      <input type="hidden" name="project[image_ids][]" value="">
      <% @images.each do |image| %>
        <div class="col s3">
          <div class="card small">
            <div class="card-image">
              <%= image_tag image.image.url(:thumb), alt: image.title %>
              <span class="card-title"><%= image.id %>, <%= image.title %></span>
            </div>
            <div class="card-action">
              <p class="image-selector">
                <%= check_box_tag 'project[image_ids][]',
                                  image.id,
                                  @project.images.include?(image),
                                  id: "project_image_ids_#{image.id}"
                %>
                <label for="project_image_ids_<%= image.id %>">
                  <%
                    #TODO: Fix this Spaghetti
                  %>
                  <%= image.project_id && image.project.id != @project.id ? ("<i class='material-icons'>lock_open</i> #{truncate(image.project.title, length: 16)}").html_safe : 'Select' %>
                </label>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= f.input :locale, as: :hidden, input_html: { value: locale} %>

    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

    <%= params[:action] != 'index' ? (link_to 'Cancel', dashboard_projects_path, class: 'btn waves-effect waves-light') : '' %>

<% end %>