<ul class="collapsible" data-collapsible="accordion">
<% @projects.each do |project| %>
        <li>
          <div class="collapsible-header">
            <div class="row">
              <div class="col s2 id">
                <%= project.is_public? ? ("<span>id:</span> #{project.id}").html_safe : ('<i class="material-icons">visibility_off</i>').html_safe %>
                <%= ('<i class="material-icons">language</i>').html_safe if project.is_global? %>
                <%= ('<i class="material-icons">location_on</i>').html_safe if project.is_local? %>
              </div>
              <div class="col s5 title <%= 'not_public' unless project.is_public? %>">
                <%= ("<span>title:</span> #{project.title}").html_safe %>
              </div>
              <div class="col s3 category <%= 'not_public' unless project.is_public? %>">
                <%= ("<span>Category:</span> #{project.category.title}").html_safe %>
              </div>
              <div class="col s2 controls">
                <%= link_to ('<i class="material-icons delete">delete</i>').html_safe,
                            dashboard_project_path(project.id),
                            method: 'delete',
                            data: { confirm: 'Are you sure?' },
                            class: 'delete'
                %>
                <%= link_to ('<i class="material-icons edit">mode_edit</i>').html_safe,
                            edit_dashboard_project_path(project.id) %>
              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s4">
                <p>
                    <b>Client:</b> <%= project.client_name != '' ? project.client_name : '-' %><br>
                    <b>Year:</b> <%= project.year != '' ? project.year : '-' %><br>
                    <b>Area:</b> <%= project.area != '' ? "#{project.area} m<sup>2</sup>".html_safe : '-' %><br>
                    <b>Team:</b> <%= project.team != '' ? project.team : '-' %><br>
                    <b>Description:</b> <%= project.description != '' ? project.description : '-' %><br>
                </p>
              </div>
              <div class="col s8">
                <p>
                    <% project.images.each do |image| %>
                        <%= image_tag image.image.url(:pizdulina), alt: 'ololo' %>
                    <% end %>
                </p>
              </div>
            </div>
          </div>
        </li>
<% end %>
</ul>