<div class="content-wrapper">
  <h3>Projects</h3>

  <%= render partial: 'list' %>

  <%= link_to ('<i class="material-icons">add</i>').html_safe,
              new_dashboard_project_path,
              class: 'btn-floating btn-large waves-effect waves-light red add-button'
  %>

</div>
