<%= simple_form_for [:dashboard, @about] do |f| %>

    <%= render partial: 'dashboard/shared/langtabs' %>

    <%= tinymce menubar: false %>
    <div class="input-field">
      <%= f.input :description,
                  label: "Description (#{locale})",
                  as: :text,
                  required: true,
                  input_html: { class: 'tinymce' }
      %>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>PDF presentation (En)</span>
        <%= f.input :presentation_en, as: :file, label: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>PDF presentation (Ru)</span>
        <%= f.input :presentation_ru, as: :file, label: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>

    <%= f.input :locale, as: :hidden, input_html: { value: locale} %>

    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

    <%= (link_to 'Cancel', dashboard_about_index_path, class: 'btn waves-effect waves-light') %>

<% end %>