<div class="content-wrapper">
  <h3>About</h3>
  <div class="divider"> </div>

  <%= (@about.description).html_safe %>

  <div class="divider"> </div><br>

  <i class="material-icons">attach_file</i>
    <% #TODO: fix fu**ing php-style %>
    <% if @about.presentation_en? %>
        <%= link_to @about.presentation_en_file_name, @about.presentation_en.url, target: '_blank' %>
        <%= link_to ('<i class="small material-icons delete red-text text-accent-4">clear</i>').html_safe,
                dashboard_about_path(@about.id),
                method: 'delete',
                data: { confirm: 'Are you sure?' },
                class: 'delete' %>
    <% else %>
        <b>No En presentation file</b>
    <% end %>

  <i class="material-icons">attach_file</i>
  <% #TODO: fix fu**ing php-style %>
  <% if @about.presentation_ru? %>
      <%= link_to @about.presentation_ru_file_name, @about.presentation_ru.url, target: '_blank' %>
      <%= link_to ('<i class="small material-icons delete red-text text-accent-4">clear</i>').html_safe,
                  dashboard_about_path(@about.id),
                  method: 'delete',
                  data: { confirm: 'Are you sure?' },
                  class: 'delete' %>
  <% else %>
      <b>No Ru presentation file</b>
  <% end %>

  <%= link_to ('<i class="material-icons">mode_edit</i>').html_safe,
              edit_dashboard_about_path(@about.id),
              class: 'btn-floating btn-large waves-effect waves-light red add-button'
  %>
</div>