<% @images.each do |image| %>
    <div class="col s4">
      <div class="card medium slide">
        <div class="card-image">
            <%= image_tag image.image.url(:thumb) %>
            <span class="card-title">
                <%= image.title.length != 0 ? "ID: #{image.id}, Title: #{image.title} " : "ID: #{image.id}" %>
            </span>
        </div>
        <div class="card-content">
          <p>Project: <b><%= image.project.present? ? image.project.title : '-' %></b></p>
          <p><%= image.description %></p>
        </div>
        <div class="card-action">

          <%= link_to ('<i class="material-icons right">create</i> Edit'.html_safe),
                      edit_dashboard_image_path(image.id),
                      class: 'waves-effect waves-light btn edit'
          %>
          <%= link_to ('<i class="material-icons right">highlight_off</i> Delete'.html_safe),
                      dashboard_image_path(image.id),
                      method: 'delete',
                      data: { confirm: 'Are you sure?' },
                      class: 'waves-effect waves-light btn delete'
          %>
        </div>
      </div>
    </div>
<% end %>