<%= simple_form_for [:dashboard, @image], :remote => true,
                    authenticity_token: true,
                    :html => {:multipart => true} do |f| %>

    <div class="file-field input-field">
      <div class="btn">
        <span>Images</span>
        <%= f.input :image, as: :file, required: true, label: false, input_html: { multiple: true } %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>


    <div class="control-buttons">
      <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light upload-new-images'} %>
      <%= (link_to 'Cancel', dashboard_images_path, class: 'btn waves-effect waves-light') %>
    </div>
    <div class="upload-progress">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>

<% end %>