<div class="content-wrapper">
  <h3>Images</h3>

  <div class="row">
    <%= render partial: 'list' %>
  </div>

  <%= link_to ('<i class="material-icons">add</i>').html_safe,
              new_dashboard_image_path,
              class: 'btn-floating btn-large waves-effect waves-light red add-button'
  %>

</div>



