<%= simple_form_for [:dashboard, @service] do |f| %>

    <%= render partial: 'dashboard/shared/langtabs' %>

    <div class="input-field">
      <%= f.input :title, label: 'Title' %>
    </div>

    <div class="input-field">
      <%= f.input :description,
                  label: 'Description',
                  as: :text,
                  required: false,
                  input_html: { class: 'materialize-textarea' }
      %>
    </div>

    <div class="input-field icon-field-block">
      <%= f.input :icon, label: 'Icon', input_html: { id: 'icon-value' } %>
    </div>

    <div class="select-icon-block">
      <i class="icon-preview material-icons"><%= @service.icon %></i>
      <a class="modal-trigger btn" href="#modal1">Select Icon</a>
    </div>

    <%= render partial: 'icons' %>


    <div class="input-field">
        <p><%= f.input :is_global, as: :boolean, boolean_style: :inline %></p>
    </div>

    <div class="input-field">
        <p><%= f.input :is_local, as: :boolean, boolean_style: :inline %></p>
    </div>
    <br>

    <%= f.input :locale, as: :hidden, input_html: { value: locale} %>

    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

    <%= params[:action] != 'index' ? (link_to 'Cancel', dashboard_services_path, class: 'btn waves-effect waves-light') : '' %>

<% end %>