<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer choose-icon">
  <div class="modal-content">
    <h4>Select Icon</h4>
    <div class="divider"></div>
    <div class="row">
      <% @icons.each do |k, v| %>
          <div class="col s6">
              <%= link_to ("<i class='material-icons'>&#x#{v};</i> #{k}").html_safe,
                          '#',
                          class: 'set-icon',
                          data: {icon: ("&#x#{v};").html_safe }
              %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>