<ul class="collection">
  <% @services.each do |service| %>

  <li class="collection-item avatar">
    <i class="material-icons circle"><%= service.icon %></i>
    <span class="title">
      <%= ('<i class="material-icons">language</i>').html_safe if service.is_global? %>
      <%= ('<i class="material-icons">location_on</i>').html_safe if service.is_local? %>
      <%= service.title %>
    </span>
    <p><%= service.description %></p>
    <div class="secondary-content">
      <%= link_to ('<i class="material-icons edit">mode_edit</i>').html_safe,
                  edit_dashboard_service_path(service.id) %>
      <%= link_to ('<i class="material-icons delete">delete</i>').html_safe,
                  dashboard_service_path(service.id),
                  method: 'delete',
                  data: { confirm: 'Are you sure?' },
                  class: 'delete'
      %>
    </div>
  </li>
  <% end %>
</ul>