<div class="content-wrapper row">
    <div class="col s6">
      <h3>Services</h3>
      <%= render partial: 'list' %>

      <%= link_to ('<i class="material-icons">add</i>').html_safe,
                  new_dashboard_service_path,
                  class: 'btn-floating btn-large waves-effect waves-light red add-button'
      %>

    </div>
    <div class="col s6">
      <h3>Create new</h3>
      <%=
          #TODO: to helper
          if @services.count < 32
            render partial: 'form'
          else
            ('<blockquote>Limited to 6 services, sorry...</blockquote>').html_safe
          end
      -%>
        <div>
          <h3>Presentation file</h3>
          <%= @presentation.presentation_en? ? (render partial: 'dashboard/service_presentation/list_en') : '' %>
          <%= @presentation.presentation_ru? ? (render partial: 'dashboard/service_presentation/list_ru') : '' %>
          <%= render partial: 'dashboard/service_presentation/form' %>
        </div>
    </div>
</div>
