<div class="content-wrapper">
  <h3>Create new service</h3>
  <%=
      #TODO: to helper and fix shit in "else"
      if @services.count < 6
        render partial: 'form'
      else
        #Bullshit!
        ("<div><blockquote>Limited to 6 services, sorry...<blockquote></div><a href='#{dashboard_services_path}' class='btn waves-effect waves-light'>Cancel</a>").html_safe
      end
  -%>
</div>
