// Place all the styles related to the dashboard/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Categories list
.collection {

  .collection-item {

    .secondary-content {
      .material-icons {
        &.view {}
        &.edit {}
        &.delete {
          color: #f44336;
        }

      }
    }

  }

}