
$mainColor: #990000;


//fix image cards
.card .card-image .card-title {
  position: absolute;
  top: 0 !important;
  left: 0;
  padding: 10px 20px !important;
  font-size: 14px !important;
}


//header
nav {

  background: $mainColor;
  //opacity: .7;

  .nav-wrapper {

    max-width: 1200px;
    margin: 0 auto;

    .brand-logo {

      span {font-size: 50%;}

    }

  }

}

.add-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

//Content
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 25px;
}

//notices
.flash-message {

  position: absolute;
  width: 250px;
  top: 75px;
  right: 45px;
  opacity: .7;

  .system-message {

    margin-bottom: 5px;
    position: relative;
    top: 25px;
    opacity: 0;
    transition: opacity .5s ease-in, top .5s ease-in;

    &.notice {
      background: #4caf50;
    }
    &.warning {
      background: #f44336;
    }

    .close-this {
      position: absolute;
      top: 5px; right: 5px;
      cursor: pointer;
    }
  }
}

//error fields
$error-color: #F44336;

.input-field {
  .field_with_errors {
    input[type=text], input[type=number], textarea {
      border-bottom: 1px solid $error-color;
      box-shadow: 0 1px 0 0 $error-color;
    }

    span.error {
      position: relative;
      top: -15px;
      font-size: 0.8rem;
      color: $error-color;
    }
  }
}

.input.select.field_with_errors {
  input.select-dropdown {
    border-bottom: 1px solid $error-color;
  }
  span.error {
    position: relative;
    top: -15px;
    font-size: 0.8rem;
    color: $error-color;
  }

}

span.error {
  position: relative;
  top: -15px;
  font-size: 0.8rem;
  color: $error-color;
}

//login
.card.new-session {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 20px;

}