// Place all the styles related to the dashboard/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//project list
.collapsible {
  .collapsible-header {

    .row {
      margin-bottom: 0;

      .col {

        &.id {}
        &.title {

          &.not_public {
            opacity: .5
          }

        }
        &.category {
          text-align: right;

          &.not_public {
            opacity: .5
          }
        }
        &.controls {
          a {float: right;}
          .material-icons {
            &.delete {
              color: #f44336;
            }

          }
        }
        span {
          font-size: 80%;
          opacity: .7;
        }

      }
    }



  }
}


//form category dropdown little fix. ^.^
.category-selector {
  .input.project_category {
    position: relative;
    top: -7px;
  }

}
//Image selector
.image-selector {
  i.material-icons {
    vertical-align: bottom;
    position: relative;
    top: -2px;
  }
}
