// Place all the styles related to the dashboard/services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//vars
$mainRed: #990000;
$mainGrey: #444444;

.icon-field-block {
  display: none;
}

.select-icon-block {
  padding-bottom: 10px;

  .icon-preview {
    color: $mainRed;
    font-size: 38px;
    vertical-align: middle;
    margin: 0 10px;
  }

}

.choose-icon {

  .modal-content {

    .row {
      padding-top: 10px;

      .col {

        .set-icon {

          .material-icons {

            vertical-align: middle;
            color: $mainRed;
            font-size: 32px;
            margin-right: 5px;

          }

        }

      }


    }

  }




}
