// Place all the styles related to the dashboard/slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index list slides
.card.slide {

  .card-image {

    .card-title {

      text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);

    }
  }

  .card-action {
    a {

      color: #fff;

      &:hover {

      }

      &.edit {
        background: #2196f3;
      }
      &.delete {
        background: #f44336;
      }

    }
  }
}
