<%= simple_form_for [:dashboard, @slide] do |f| %>

    <div class="input-field">
      <%= f.input :title, label: 'Title' %>
    </div>

    <%= params[:action] == 'edit' ? (image_tag @slide.slide.url(:thumb)) : '' %>

    <div class="file-field input-field">
      <div class="btn">
        <span>Slide Image</span>
        <%= f.input :slide, as: :file, label: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>

    <div class="input-field">
      <%= f.input :description,
                  label: 'Description',
                  as: :text,
                  required: false,
                  input_html: { class: 'materialize-textarea' }
      %>
    </div>

    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

    <%= (link_to 'Cancel', dashboard_slides_path, class: 'btn waves-effect waves-light') %>

<% end %>