<% @slides.each do |slide| %>
<div class="col s6">
    <div class="card large slide">
      <div class="card-image">
        <%= image_tag slide.slide.url(:thumb) %>
        <span class="card-title">
          <%= slide.title.length != 0 ? "ID: #{slide.id}, Title: #{slide.title} " : "ID: #{slide.id}" %>
        </span>
      </div>
      <div class="card-content">
        <p><%= slide.description %></p>
      </div>
      <div class="card-action">

        <%= link_to ('<i class="material-icons right">create</i> Edit'.html_safe),
                    edit_dashboard_slide_path(slide.id),
                    class: 'waves-effect waves-light btn edit'
        %>
        <%= link_to ('<i class="material-icons right">highlight_off</i> Delete'.html_safe),
                    dashboard_slide_path(slide.id),
                    method: 'delete',
                    data: { confirm: 'Are you sure?' },
                    class: 'waves-effect waves-light btn delete'
        %>
      </div>
    </div>
</div>
<% end %>