<%= simple_form_for [:dashboard, @category] do |f| %>

    <%= render partial: 'dashboard/shared/langtabs' %>

    <div class="input-field">
      <%= f.input :title, label: "Title (#{locale})", as: :string %>
    </div>

    <div class="input-field">
      <%= f.input :description,
                  label: "Description (#{locale})",
                  as: :text,
                  required: false,
                  input_html: { class: 'materialize-textarea' }
      %>
    </div>

    <%= f.input :locale, as: :hidden, input_html: { value: locale} %>

    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

    <%= params[:action] != 'index' ? (link_to 'Cancel', dashboard_categories_path, class: 'btn waves-effect waves-light') : '' %>

<% end %>