<ul class="collection">

<% @categories.each do |category| -%>
      <li class="collection-item">
        <div><%= category.title %>
          <div  class="secondary-content">
            <%= link_to ('<i class="material-icons edit">mode_edit</i>').html_safe,
                        edit_dashboard_category_path(category.id) %>
            <%= link_to ('<i class="material-icons delete">delete</i>').html_safe,
                        dashboard_category_path(category.id),
                        method: 'delete',
                        data: { confirm: 'Are you sure?' },
                        class: 'delete'
            %>
          </div>
        </div>
      </li>
<% end -%>

</ul>