<div class="content-wrapper container row">
    <h1><%= t('about.title') %></h1>
    <div class="about-description col s12 m6 l8">
        <%= (@about.description).html_safe %>
    </div>

    <div class="about-contacts col s12 m6 l4">
        <%= (@settings.contactblock).html_safe %>
    </div>

    <div class="presentation">
        <% if locale == :ru %>
          <%= if @about.presentation_ru?
                link_to t('presentation'), @about.presentation_ru.url,
                        class: 'download-presentation',
                        target: '_blank'
              end
          %>
        <% else %>
          <%= if @about.presentation_en?
                link_to t('presentation'), @about.presentation_en.url,
                        class: 'download-presentation',
                        target: '_blank'
              end
          %>
        <% end %>
    </div>
</div>