<div class="content-wrapper container row">
  <h1><%= t('clients.title') %></h1>
  <% @clients.each do |client| %>
      <div class="item col s6 m4 l3">
        <%=
        if client.project != nil
            link_to (image_tag client.logo.url(:small)),
                    "p/#{client.project.id} #for-modal",
                    #data: {featherlight: "/p/#{client.project.id} #for-modal"},
                    class: 'client-project'
        else
            image_tag client.logo.url(:small)
        end
        -%>
      </div>
  <% end %>
</div>