<footer>
  <div class="copyright">&copy; Lp studio 2015</div>
  <div class="dev">Created by <a href="http://ampersand.pro" target="_blank">Ampersand</a></div>

</footer>

<script type="text/javascript">
$(function() {
    $("#welcome-screen").vegas({
        delay: 7000,
        transitionDuration: 2000,
        timer: false,
        slides: [
            <% @slides.each_with_index do |slide, index| %>
            <%= index != @slides.size - 1 ? ("{ src: '#{slide.slide.url}' },").html_safe : ("{ src: '#{slide.slide.url}' }").html_safe %>
            <% end %>
        ]
    });
});
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter35105000 = new Ya.Metrika({
                    id:35105000,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/35105000" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->