<nav class="navigation">
    <a href="#welcome">
        <div class="tab"><i class="material-icons">beenhere</i></div>
        <%= t('welcome.welcome').html_safe %>
    </a>
    <a href="#services">
        <div class="tab"><i class="material-icons">domain</i></div>
        <%= t('welcome.services').html_safe %>
    </a>
    <a href="#portfolio">
        <div class="tab"><i class="material-icons">photo_camera</i></div>
        <%= t('welcome.portfolio').html_safe %>
    </a>
    <a href="#about">
        <div class="tab"><i class="material-icons">group</i></div>
        <%= t('welcome.about').html_safe %>
    </a>
    <a href="#clients">
        <div class="tab"><i class="material-icons">thumb_up</i></div>
        <%= t('welcome.clients').html_safe %>
    </a>
</nav>