<div class="content-wrapper container">
    <h1><%= t('portfolio.title') %></h1>
    <div class="portfolio-wall row">
        <% @projects.each do |project| %>
          <% if project.is_public? %>
            <div class="col s6 m4 l4 project-wrapper">
            <a href="p/<%= project.id %> #for-modal" class="portfolio-project" >
              <%= image_tag project.images.first.image.url(:thumb), alt: project.title %>
            </a>
            <%= link_to project.title, "p/#{project.id} #for-modal", class: 'project-title' %>
            </div>
          <% end %>
        <% end %>
    </div>
</div>

