<div class="content-wrapper container row">
<h1><%= t('services.title') %></h1>
  <% @services.each do |service| %>
      <div class="column-3 col s12 m6 l4">
        <i class="material-icons"><%= service.icon %></i>
        <h3><%= service.title %></h3>
        <p><%= service.description %></p>
      </div>
  <% end %>
  <div class="presentation">


    <% if locale == :ru %>
        <%= if @service_presentation.presentation_ru?
              link_to t('presentation'), @service_presentation.presentation_ru.url,
                      class: 'download-presentation',
                      target: '_blank'
            end
        %>
    <% else %>
        <%= if @service_presentation.presentation_en?
              link_to t('presentation'), @service_presentation.presentation_en.url,
                      class: 'download-presentation',
                      target: '_blank'
            end
        %>
    <% end %>

  </div>
</div>