<%= simple_form_for [:dashboard, @user] do |f| %>

    <div class="input-field">
      <%= f.input :email, as: :email, label: 'email' %>
    </div>

    <div class="input-field">
      <%= f.input :password, as: :password, label: 'password' %>
    </div>

    <div class="input-field">
      <%= f.input :password_confirmation, as: :password, label: 'password confirmation' %>
    </div>

    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

    <%= (link_to 'Cancel', dashboard_admins_path, class: 'btn waves-effect waves-light') %>

<% end %>