<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.last_sign_in_ip %></td>
    <td><%= user.last_sign_in_at? ? (user.last_sign_in_at).strftime('%d.%m.%Y %H:%M') : '' %></td>
    <td>
      <%= link_to ('<i class="material-icons edit">mode_edit</i>').html_safe,
                  edit_dashboard_admin_path(user.id) %>
      <%= link_to ('<i class="material-icons delete">delete</i>').html_safe,
                  dashboard_admin_path(user.id),
                  method: 'delete',
                  data: { confirm: 'Delete this user?' } %>
    </td>
  </tr>
<% end %>