<div class="content-wrapper">
  <h3>Users</h3>
  <table class="bordered">
    <thead>
    <tr>
      <th>id</th>
      <th>email</th>
      <th>last sign in ip</th>
      <th>last sign in at</th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
        <%= render partial: 'list' %>
    </tbody>
  </table>

  <%= link_to ('<i class="material-icons">add</i>').html_safe,
              new_dashboard_admin_path,
              class: 'btn-floating btn-large waves-effect waves-light red add-button'
  %>

</div>


