<div id="fullpage">
  <div class="section" id="welcome-screen">

    <div class="logo">
      <%= @settings.nil? ? (image_tag '/images/logo.png') : (image_tag @settings.logo, alt: @settings.description) %>
    </div>

    <% if @settings.description? %>
    <div class="description">
      <h1><%= (@settings.description).html_safe %></h1>
    </div>
    <% end %>

    <div class="contacts">
      <div class="tab"><i class="material-icons">call</i></div>
      <%= @settings.nil? ? 'no contacts' : (@settings.contactblock).html_safe %>
    </div>

    <%= render partial: 'shared/nav' %>


  </div>
  <div class="section fp-auto-height" id="services-screen">
    <%= render partial: 'shared/services' %>
  </div>
  <div class="section fp-auto-height" id="portfolio-screen">
    <%= render partial: 'shared/portfolio' %>
  </div>
  <div class="section fp-auto-height" id="about-screen">
    <%= render partial: 'shared/about' %>
  </div>
  <div class="section fp-auto-height" id="clients-screen">
    <%= render partial: 'shared/clients' %>
  </div>
</div>
