<div id="for-modal">
  <div class="project-slider">
    <div class="image-slider-wrapper">
      <% @project.images.each do |image| %>
          <div class="item">
            <%= image_tag image.image.url %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="project-description">
    <h1><%= @project.title %></h1>
    <p><%= project_info @project.client_name, t('project.client') %></p>
    <p><%= project_info @project.area, t('project.area') %><%= @project.area.present? ? t('project.m2').html_safe : '' %></p>
    <p><%= project_info @project.year, t('project.year') %></p>
    <p><%= project_info @project.team, t('project.team')  %></p>
    <p><%= project_info @project.description, t('project.description') %></p>


  </div>
</div>