<div class="card new-session white">
  <!-- valign-wrapper center-align -->
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card-content">
    <%= get_logo %>
    <span class="card-title">Log in</span>
    <p>
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
    </p>
  </div>
  <div class="card-action">
    <%= render 'devise/shared/links' %>
    <%= f.button :submit, 'Log in' %>
  </div>
  <% end %>
</div>