<%= simple_form_for [:dashboard, @client] do |f| %>

    <%= render partial: 'dashboard/shared/langtabs' %>

    <div class="input-field">
      <%= f.input :name, label: 'Company Name' %>
    </div>

    <%= params[:action] == 'edit' ? (image_tag @client.logo.url(:normal)) : '' %>

    <div class="file-field input-field">
      <div class="btn">
        <span>Logo</span>
        <%= f.input :logo, as: :file, label: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>

    <div class="input-field">
      <%= f.input :description,
                  label: 'Description',
                  as: :text,
                  required: false,
                  input_html: { class: 'materialize-textarea' }
      %>
    </div>

    <%= f.collection_select :project_id, Project.all, :id, :title, include_blank: true %>

    <%= f.input :locale, as: :hidden, input_html: { value: locale} %>

    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

    <%= params[:action] != 'index' ? (link_to 'Cancel', dashboard_clients_path, class: 'btn waves-effect waves-light') : '' %>

<% end %>