<ul class="collection">
<% @clients.each do |client| %>

      <li class="collection-item">
        <div  class="secondary-content">
          <%= link_to ('<i class="material-icons edit">mode_edit</i>').html_safe,
                      edit_dashboard_client_path(client.id) %>
          <%= link_to ('<i class="material-icons delete">delete</i>').html_safe,
                      dashboard_client_path(client.id),
                      method: 'delete',
                      data: { confirm: 'Are you sure?' },
                      class: 'delete'
          %>
        </div>
        <div>
          <%= image_tag client.logo.url(:small) %>
        </div>
        <span class="title"><%= client.name %></span>
        <p>
          <%= client.project.nil? ? '' : (link_to client.project.title, edit_dashboard_project_path(client.project.id)) %>
        </p>
      </li>
<% end %>
</ul>