<div class="content-wrapper row">
  <div class="col s6">
    <h3>Clients</h3>

    <%= render partial: 'list' %>

    <%= link_to ('<i class="material-icons">add</i>').html_safe,
                new_dashboard_client_path,
                class: 'btn-floating btn-large waves-effect waves-light red add-button'
    %>
  </div>
  <div class="col s6">
    <h3>Create New</h3>
    <%= render partial: 'form' %>
  </div>
</div>
