<div class="content-wrapper">
  <h3><%= @client.name %></h3>
  <p><%= image_tag @client.logo.url(:normal), alt: @client.name %></p>
  <p><%= @client.description %></p>
  <p><%= @client.project.nil? ? '' : "Project: #{@client.project.title}" %></p>
</div>
