<%= simple_form_for [:dashboard, @presentation] do |f| %>
    <div class="file-field input-field">
      <div class="btn">
        <span>PDF presentation (En)</span>
        <%= f.input :presentation_en, as: :file, label: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>PDF presentation (Ru)</span>
        <%= f.input :presentation_ru, as: :file, label: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>
    <%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>
<% end %>