<i class="material-icons">attach_file</i>
<%= link_to @presentation.presentation_ru_file_name, @presentation.presentation_ru.url, target: '_blank' %>
<%= link_to ('<i class="small material-icons delete red-text text-accent-4">clear</i>').html_safe,
            dashboard_service_presentation_path(@presentation.id),
            method: 'delete',
            data: { confirm: 'Are you sure?' },
            class: 'delete' %>