@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic);

//vars
$mainRed: #990000;
$mainGrey: #444444;
$background: #fff;
$shadowParams: 5px 5px 0 0 rgba(68,68,68,0.3);
$shadowParamsNav: -5px 5px 0 0 rgba(68,68,68,0.3);

//mixins
@mixin margin-padding($px) {
  margin: $px;
  padding: $px;
}

@mixin shadow($Params) {
  -webkit-box-shadow: $Params;
  -moz-box-shadow: $Params;
  box-shadow: $Params;
}



html {

  @include margin-padding(0px);

  body {

    font-family: 'Open Sans', sans-serif;
    //font-family: 'Jura', sans-serif;
    color: $mainGrey;
    font-size: 16px;

    @include margin-padding(0px);

    a img {
      border: none;
    }

    a, a:visited {
      color: $mainRed;

    }
    a:hover {}

    h1, h2, h3, h4, h5, h6 {
      //font-family: 'Poiret One', cursive;
      @include margin-padding(0px);
    }

    div, p {

    }


    .logo {
      display: inline-block;
      vertical-align: middle;
      background: $background;
      margin: 10px 10px 10px 0;
      padding: 25px;

      @include shadow($shadowParams);

      img {
        max-width: 200px;
      }
    }

    .description {

      display: inline-block;
      vertical-align: middle;


      h1 {
        display: inline;

        span {
          background: $background;
          padding: 0 5px;
          @include shadow($shadowParams);
        }
      }
    }

    /*
    .lang-switcher {

      position: absolute;
      top: 10px;
      right: 0;
      background: $background;
      padding: 5px;

      @include shadow($shadowParamsNav);

      a {

        &.current {
          font-weight: bold;
        }
      }
    }
    */
    .contacts {
      box-sizing: border-box;
      max-width: 250px;
      padding: 25px;

      position: fixed;
      z-index: 1000;
      left: 0;
      bottom: 10px;
      margin-left: 0;

      background: $background;

      @include shadow($shadowParams);
      transition: margin-left .5s linear;

      .tab {
        color: $mainRed;
        position: absolute;
        right: -45px;
        padding: 10px 10px 7px 11px;
        background: $background;
        top: 17px;
        cursor: pointer;
        @include shadow($shadowParams);
        transition: opacity .5s linear;
        opacity: 0;
      }

    }


    nav {

      display: inline-block;
      position: fixed;
      z-index: 1000;
      right: 0;
      bottom: 10px;
      text-align: right;

      font-size: 24px;
      text-transform: lowercase;

      .tab {
        display: inline-block;
        color: $mainRed;
        position: relative;
        bottom: -4px;
        z-index: 10;
        overflow: hidden;
        vertical-align: bottom;

        opacity: 0;
        transition: opacity .5s linear;

        i {
          margin-right: 10px;
        }
      }

      a {
        text-decoration: none;
        background: $background;
        //display: inline-block;
        padding: 10px;
        margin-bottom: 10px;
        transition: padding .3s linear, margin-right .5s linear, width .5s linear;
        //position: relative;

        display: block;
        float: right;
        clear: right;

        @include shadow($shadowParamsNav);

        &:hover {
          padding: 10px 30px 10px 10px ;
          transition: padding .1s linear;
        }

        span {
          color: $mainGrey;
          text-decoration: none !important;
        }

        &.folded:hover {
          margin-right: 0 !important;
        }

      }




      //nav end
    }

    //Standard for content
    .content-wrapper {
      //padding: 50px;
      font-size: 18px;

      h1 {
        color: $mainRed;
        text-align: center;
        padding-bottom: 50px;
      }
    }

    //Welcome Screen
    #welcome-screen {

      min-height: 460px;

      .fp-tableCell {
        vertical-align: top;
      }

    }


    //Services
    #services-screen {

      .content-wrapper {
        //max-width: 1200px;
        //margin: 0 auto;
      }

      .column-3 {
        /*display: inline-block;
        box-sizing: border-box;
        width: 33%;
        vertical-align: top;
        padding: 10px;
        margin-bottom: 10px;*/
        padding: 0.75rem;

        .material-icons {
          width: 90px;
          height: 90px;
          line-height: 90px;
          text-align: center;
          font-size: 48px;
          color: $mainGrey;
          border: 3px solid $mainGrey;
          -webkit-border-radius: 90px 0 90px 90px;
          -moz-border-radius: 90px 0 90px 90px;
          border-radius: 90px 0 90px 90px;

          padding: 10px;
          margin-right: 10px;
          float: left;
        }

        h3 {
          color: $mainRed;
          text-align: left;
          display: inline-block;
        }

        p {
          margin: 0;
        }

      }

      .presentation {
        padding-top: 20px;
        text-align: center;
        font-size: 24px;

        a {
          &:hover {
            text-decoration: none;
          }
        }
      }

    }

    //services end

    //portfolio
    #portfolio-screen {

      h1 {
        padding-bottom: 20px;
      }

      .portfolio-menu {
        text-align: center;
        font-size: 20px;
        position: relative;
        top: -10px;

        a {
          text-decoration: none;
          margin: 0 12px;

          &:hover {
            border-bottom: 1px solid $mainRed;
          }

        }

      }

      .portfolio-wall {

        .project-wrapper {

          padding-bottom: 0.75rem;
          position: relative;

          .portfolio-project {

            //display: inline-block;
            //width: 24%;
            //height: 50%;
            //position: relative;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;

              filter: grayscale(1);
              -webkit-filter: grayscale(1);
              -moz-filter: grayscale(1);
              -o-filter: grayscale(1);
              -ms-filter: grayscale(1);
              transition: all 0.3s ease-in-out;

            }

          }

          .project-title {
            position: absolute;
            bottom: 2rem;
            box-sizing: border-box;

            margin-right: 1.5rem;
            padding: 5px 10px;
            background: $background;
            @include shadow($shadowParams);

            text-decoration: none;
            opacity: 0;

            transition: opacity 0.3s ease-in-out;

          }

          &:hover {

            img {

              filter: grayscale(0);
              -webkit-filter: grayscale(0);
              -moz-filter: grayscale(0);
              -o-filter: grayscale(0);
              -ms-filter: grayscale(0);
              transition: all 0.1s ease-in-out;

            }

            .project-title {
              opacity: 1;
              transition: opacity 0.1s ease-in-out;
            }

          }

        }


      }

    }
    //portfolio end


    //lightbox fix
    .featherlight-content {
      width: 90% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;

      overflow-y: hidden !important;
    }

    //modal style
    #for-modal {

      max-width: 100%;



      .project-slider {
        position: relative;
        display: inline-block;
        width: 79%;
        max-height: 90vh; // TODO: check percents
        vertical-align: top;


        .image-slider-wrapper {

          //background: #000;
          vertical-align: middle;

          .item {

            display: inline-block;
            text-align: center;


            img {
              display: inline-block;
              //width: auto;
              max-height: 90vh;
              margin: 0 auto;
              transition: height .3s linear;

            }

          }
        }

        .lSPager {
          position: absolute;
          margin-top: -30px !important;
          width: 100%;

          li {
            a {background-color: $mainGrey;}

            &.active  {
              a {background-color: $mainRed;}
            }
          }


        }



      }
      .project-description {
        display: inline-block;
        box-sizing: border-box;
        width: 19%;
        vertical-align: top;
        padding: 20px;

      }
    }


    //About Section
    #about-screen {

      .content-wrapper {

        //max-width: 1200px;
        //margin: 0 auto;

        .about-description {
          //display: inline-block;
          //width: 69%;
          vertical-align: top;
          box-sizing: border-box;
          padding-right: 4rem;
        }

        .about-contacts {
          //display: inline-block;
          //width: 29%;
          vertical-align: top;
        }

        .presentation {
          padding-top: 20px;
          text-align: center;
          font-size: 24px;

          a {
            &:hover {
              text-decoration: none;
            }
          }
        }


      }

    }
    //About section end

    //Clients section
    #clients-screen {

      .content-wrapper {
        //text-align: center;

        .item {
          //display: inline-block;
          //width: 200px;
          //margin: 0 45px 10px 45px;
          vertical-align: top;
          height: 200px;
          line-height: 200px;


          img {
            //width: 100%;
            //height: auto;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;

          }

        }

      }

    }
    //Client section end

    footer {

      //border-top: 3px solid $mainRed;
      background: $mainGrey;
      color: $background;
      box-sizing: border-box;
      padding: 2rem;

      a, a:visited {
        color: $background;
      }

      div {
        display: inline-block;
      }

      .copyright {}

      .dev {
        float: right;
      }

    }



    //body end
  }
}

