<!-- Dropdown Structure -->
<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <%= link_to 'LpStudio', root_path, target: '_blank' %>
      <span><%= link_to '/dashboard v0.2', '/en/dashboard' %></span>
    </div>

    <ul class="right hide-on-med-and-down">


      <li><%= link_to 'Main Slider', dashboard_slides_path %></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Portfolio<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><%= link_to 'About', dashboard_about_index_path %></li>
      <li><%= link_to 'Services', dashboard_services_path %></li>
      <li><%= link_to 'Clients', dashboard_clients_path %></li>
      <li><%= link_to 'Users', dashboard_admins_path %></li>
      <li><%= link_to 'Settings', dashboard_settings_path %></li>
      <li><%= link_to ('<i class="material-icons right">exit_to_app</i>').html_safe, destroy_admin_session_path, :method => :delete %></li>
    </ul>
  </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Categories', dashboard_categories_path %></li>
  <li><%= link_to 'Projects', dashboard_projects_path %></li>
  <li><%= link_to 'Images', dashboard_images_path %></li>
</ul>