<%
#TODO: not beautiful solution... fix it.
error_images = @project.errors.messages[:image_ids]

if error_images
    @project.errors.messages[:image_ids].each do |error|

%>
    <span class="error"><%= error %></span>
<%
   end
 end

%>