<div class="locale-switcher">
  <% if locale == 'en' %>
      <%= link_to 'en', '?locale=en', class: 'current' %> / <%= link_to 'ru', '?locale=ru' %>
  <% else %>
      <%= link_to 'en', '?locale=en' %> / <%= link_to 'ru', '?locale=ru', class: 'current' %>
  <% end %>
</div>