<%= simple_form_for [:dashboard, @settings] do |f| %>

<div class="row">
  <div class="col s6">
    <%= image_tag @settings.logo.url(:original) %>
    <div class="file-field input-field">
      <div class="btn">
        <span>Logo</span>
        <%= f.input :logo, as: :file, label: false %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>
  </div>
  <div class="col s6">

    <%= render partial: 'dashboard/shared/langtabs' %>

    <div class="input-field">
      <%= f.input :description,
                  label: 'Description',
                  as: :text,
                  input_html: { class: 'materialize-textarea' }
      %>
    </div>

    <%= tinymce menubar: false %>
    <div class="input-field">
      <%= f.input :contactblock,
                  label: 'Contacts',
                  as: :text,
                  input_html: { class: 'tinymce' }
      %>
    </div>
  </div>
</div>

<%= f.input :locale, as: :hidden, input_html: { value: locale} %>

<%= f.button :submit, input_html: {class: 'btn waves-effect waves-light'} %>

<%= (link_to 'Cancel', dashboard_settings_path, class: 'btn waves-effect waves-light') %>

<% end %>