<div class="content-wrapper">
  <h3>Settings</h3>
  <div class="row">
    <div class="col s6">

      <h5>Current logo:</h5>
      <%= image_tag @settings.logo, alt: 'logo' %>

    </div>
    <div class="col s6">

      <h5>Description:</h5>
      <p><%= (@settings.description).html_safe %></p>

      <h5>Contacts:</h5>
      <p><%= (@settings.contactblock).html_safe %></p>

    </div>
  </div>

  <%= link_to ('<i class="material-icons">mode_edit</i>').html_safe,
              edit_dashboard_setting_path(@settings.id),
              class: 'btn-floating btn-large waves-effect waves-light red add-button'
  %>
</div>
