<!DOCTYPE html>
<html>
<head>
  <title>Lpstudio</title>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="purple lighten-2">
<%= render partial: 'dashboard/shared/notices' %>

<%= yield %>

<%= render partial: 'dashboard/shared/footer' %>

</body>
</html>